# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Node
node_modules/
dist/
.env
*.log

# Environment variables
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode 
.vscode/

# Obsidian
notes.Obsidian/workspace.json
notes/.obsidian/cache
notes/

# Prisma generated client
/backend/prisma/dev.db
/backend/prisma/dev.db-journal

